@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.home {
  display: grid;
  min-height: 100svh;
  grid-template-columns: auto;
  grid-template-rows: 60px auto;
}

nav {
  grid-column: 1/span 1;
  grid-row: 1;
}

section {
  grid-column: 1;
  grid-row: 2;
}